@import "../../var";
@import "../../animation";

.skills{
    width: 90%;
    height: 600px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    opacity: 0;
    transform: translateX(100%);
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.skill{
    width: 22%;
    height: 200px;
    padding: 10px;
    box-shadow: $shadow;
    background-color: #ffffff;
    // border: 1px solid black;
    &-title{
        color: $primary
    }
}